@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Lexend:wght@100;200;300;400;500&family=Life+Savers:wght@800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
}
.title {
  color: white;
  font-family: "Life Savers", cursive;
  font-weight: 800;
  font-size: 200px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  -webkit-text-stroke: 12px #afd76f;
  text-shadow: 0px 20px 0px #00000073;
  position: absolute;
  top: 20%;
}

.startbutton {
  -webkit-text-stroke: 3px #37a1c2;
  color: white;
  font-family: "Lemon", cursive;
  width: 600px;
  height: 200px;
  font-size: 100px;
  text-align: center;
  text-shadow: 0px 4px 2px #3ba3c399;
  position: absolute;
  top: 80%;
  border-radius: 100px;
  border: 15px solid #f6f6f6;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
  left: 20%; /*how to make the button at the center of the page*/
  cursor: pointer;
}
.startbutton:hover {
  background-color: #37a1c2;
  color: white;
}
.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.background_level_2{
  background: linear-gradient(180deg, #F2EF96, #F7F4DE);
  width: 100vw;
  height: 100vh;
}
.backgroundTransparent{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.backgroundTransparent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 244, 204, 0.5); /* set the background color with alpha channel */
}
.tag {
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
  position: absolute;
}

.number {
  color: #704f3d;
  font-family: "Life Savers", cursive;
  font-size: 60px;
  font-weight: 800;
  position: relative;
  margin-left: 40%;
  margin-top: 30%;
}
button {
  all: unset;
  cursor: pointer;
}

.maplabel {
  border: 3px solid;
  border-radius: 5px;
  background-color: #3592c6;
  border-color: white;
  box-shadow: 0px 0px 4px 2px #00000040;
  width: 400px;
  -webkit-text-stroke: 2px #1c6994;
  color: white;
  font-family: "Lemon", cursive;
  font-size: 75px;
  text-align: center;
  text-shadow: 0px 2px 1px #3ba3c399;
  position: absolute;
  top: 90%;
  left: 30%;
}

.center-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.score-bg {
  width: 90%;
  height: 90%;
}
.star-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 250px;
}
.star {
  height: 250px;
}
.level-title {
  border: 10px solid;
  border-radius: 70px;
  background-color: #3592c6;
  border-color: white;
  box-shadow: 0px 0px 4px 2px #00000040;
  width: 400px;
  -webkit-text-stroke: 2px #1c6994;
  color: white;
  font-family: "Lemon", cursive;
  font-size: 75px;
  text-align: center;
  text-shadow: 0px 2px 1px #3ba3c399;
  position: absolute;
  top: 500px;
  left: 23%;
  padding: 20px 50px;
}
.score {
  -webkit-text-stroke: 4px #1c6994;
  color: white;
  font-family: "Lemon", cursive;
  font-size: 75px;
  text-align: center;
  text-shadow: 0px 2px 1px #3ba3c399;
  position: absolute;
  width: 100%;
  top: 680px;
}
.success-msg {
  -webkit-text-stroke: 4px #1c6994;
  color: white;
  font-family: "Lemon", cursive;
  font-size: 90px;
  text-align: center;
  text-shadow: 0px 2px 1px #3ba3c399;
  position: absolute;
  width: 100%;
  top: 1050px;
}
.score-num {
  border-radius: 70px;
  background-color: #18648e;
  box-shadow: 0px 0px 4px 2px #00000040;
  width: 400px;
  -webkit-text-stroke: 2px #1c6994;
  color: white;
  font-family: "Lemon", cursive;
  font-size: 150px;
  text-align: center;
  text-shadow: 0px 2px 1px #3ba3c399;
  position: absolute;
  top: 800px;
  left: 23%;
  padding: 10px 60px;
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 1200px;
  width:100%;
 height: 200px;
}

.btn-center{
  display: flex;
  justify-content: center;
}

.welcome-text{
  -webkit-text-stroke: 3px #1D6995;
  color: white;
  font-family: "Lemon", cursive;
  font-size: 70px;
  text-align: center;
  text-shadow: 0px 4px 2px #3ba3c399;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.continue-text{
  -webkit-text-stroke: 3px #6BAF33;
  color: white;
  font-family: "Lemon", cursive;
  font-size: 70px;
  text-align: center;
  text-shadow: 0px 4px 2px #3ba3c399;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner-border {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 4px #3693C7, inset 0 0 0 8px white;
}


/* 
font-family: 'Lemon', cursive;
font-family: 'Lexend', sans-serif;
font-family: 'Life Savers', cursive; */
